@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border font-custom text-white;
  }

  html {
    @apply bg-gray-900;
  }
}

@layer components {
  .subtle_input {
    @apply bg-transparent text-white;
  }

  .grid_layout_header {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .grid_layout_unconnected {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .grid_layout_connected {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}